<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true" cacheDirectory="target/cache/phpunit">
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="tests">
            <directory suffix="">tests/unit</directory>
        </testsuite>
        <testsuite name="examples">
            <file>tests/examples/Callback.php</file>
            <file>tests/examples/Globl.php</file>
            <file>tests/examples/Hello.php</file>
        </testsuite>
    </testsuites>
</phpunit>
